DOMAIN=mydomain.com

# AUTHELIA
AUTHELIA_USER=user
AUTHELIA_PASS=pass
AUTHELIA_PORT=9091
AUTHELIA_DOMAIN=auth.mydomain.com

# PORTAINER
PORTAINER_DOMAIN=portainer.mydomain.com

# WIREGUARD
WIREGUARD_PEERS=device1,device2
WIREGUARD_PORT=51820
WIREGUARD_SUBNET=10.0.0.0/24
WIREGUARD_ALLOWEDIPS=10.0.0.0/24
WIREGUARD_DOMAIN=wireguard.mydomain.com

# ACE STEP
ACESTEP_PORT=7860
ACESTEP_WIREGUARD_PORT=7860
ACESTEP_WIREGUARD_IP=10.0.0.2
ACESTEP_DOMAIN=acestep.mydomain.com

# COMFYUI
COMFYUI_PORT=8188
COMFYUI_WIREGUARD_PORT=8188
COMFYUI_WIREGUARD_IP=10.0.0.2
COMFYUI_DOMAIN=comfyui.mydomain.com

# OPEN WEBUI
OPENWEBUI_PORT=8081
OPENWEBUI_DOMAIN=openwebui.mydomain.com
OLLAMA_WIREGUARD_IP=10.0.0.2
OLLAMA_WIREGUARD_PORT=11434
SEARXNG_PORT=8888
SEARXNG_DOMAIN=searxng.mydomain.com

#FILE BROWSER
FILEBROWSER_VPS_PORT=8085
FILEBROWSER_VPS_DOMAIN=files.vps.mydomain.com

FILEBROWSER_PC_PORT=8085
FILEBROWSER_PC_WIREGUARD_PORT=8085
FILEBROWSER_PC_WIREGUARD_IP=10.0.0.2
FILEBROWSER_PC_DOMAIN=files.pc.mydomain.com

FILEBROWSER_RPI_PORT=8086
FILEBROWSER_RPI_WIREGUARD_PORT=8085
FILEBROWSER_RPI_WIREGUARD_IP=10.0.0.3
FILEBROWSER_RPI_DOMAIN=files.rpi.mydomain.com

# TORRENT
TORRENT_PC_PORT=8095
TORRENT_PC_WIREGUARD_PORT=8899
TORRENT_PC_WIREGUARD_IP=10.0.0.2
TORRENT_PC_DOMAIN=torrent.pc.mydomain.com

TORRENT_RPI_PORT=8097
TORRENT_RPI_WIREGUARD_PORT=8899
TORRENT_RPI_WIREGUARD_IP=10.0.0.3
TORRENT_RPI_DOMAIN=torrent.rpi.mydomain.com

# JELLYFIN
JELLYFIN_PC_PORT=8096
JELLYFIN_PC_WIREGUARD_PORT=8096
JELLYFIN_PC_WIREGUARD_IP=10.0.0.2
JELLYFIN_PC_DOMAIN=jellyfin.pc.mydomain.com

# API
API_PORT=4000
API_SSH_KEY=device1
API_PC_USER=user
API_RPI_USER=user
API_PC_IP=10.0.0.2
API_RPI_IP=10.0.0.3
API_PC_TELEMETRY_PORT=8000
API_RPI_TELEMETRY_PORT=8000

# GUACAMOLE
GUACAMOLE_DOMAIN=guacamole.mydomain.com
ADMIN_USER=guaca_admin
ADMIN_PASS=guaca_pass
POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASS=guacamole_pass

CON1_NAME=PC-SSH
CON1_TYPE=SSH
CON1_KEY=device1
CON1_HOST=10.0.0.2
CON1_PORT=22
CON1_USER=user

CON2_NAME=PC-VNC
CON2_TYPE=VNC
CON2_HOST=10.0.0.2
CON2_PORT=5900
CON2_PASS=pass

CON3_NAME=PC-RDP
CON3_TYPE=RDP
CON3_HOST=10.0.0.2
CON3_PORT=3389
CON3_USER=user
CON3_PASS=pass
CON3_DOMAIN=DEVICE1

CON4_NAME=RPI-SSH
CON4_TYPE=SSH
CON4_KEY=rpi
CON4_HOST=10.0.0.3
CON4_PORT=22
CON4_USER=user

CON5_NAME=VPS-SSH
CON5_TYPE=SSH
CON5_KEY=vps
CON5_HOST=172.18.0.1
CON5_PORT=22
CON5_USER=user
